/* src/styles/layout/_grid.css */
.kanban-board {
  height: calc(100vh - 52px);
}

.ticket-column {
  height: calc(100vh - 92px);
}

.ticket-column .column-tickets {
  height: calc(100vh - 130px);
}
