.ticket-column {
  background-color: var(--ticket-colum-bg-color);
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.ticket-column div {
  margin-bottom: 4px;
}

.ticket-column .title {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.ticket-column h2 {
  font-size: 1.2rem;
}

.ticket-column .ticket-count {
  margin-left: 10px;
  font-size: 0.8rem;
}
