.ticket-column {
  width: 250px;
  background-color: var(--ticket-colum-bg-color);
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.ticket-column h2 {
  text-align: center;
  font-size: 1.2em;
  margin-bottom: 10px;
}
