.ticket-column {
  background-color: var(--ticket-column-bg-color);
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.ticket-column div {
  margin-bottom: 5px;
  gap: 10px;
}

.ticket-column .title {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.ticket-column h2 {
  font-size: 1.1rem;
}

.ticket-column .ticket-count {
  font-size: 0.8rem;
  color: #5c5c5c;
}

.ticket-column .actions {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 10px;
}

.ticket-column .actions img {
  cursor: pointer;
}
