.ticket {
  background-color: var(--ticket-bg-color);
  border: 1px solid var(--border-color);
  border-radius: 4px;
  padding: 12px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.ticket:hover {
  background-color: #e0e0e0;
}

.ticket .title {
  display: flex;
  align-items: baseline;
}

.ticket .title img {
  margin-top: 5px;
}

.ticket .title h3 {
  font-size: 1rem;
}

.ticket .tags {
  display: inline-flex;
  gap: 6px;
}

.ticket .tag {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  padding: 2px 5px;
  border: 1px solid #cccccc;
  border-radius: 6px;
  height: 31px;
}

.ticket .tag .color {
  display: inline-block;
  background-color: #cccccc;
  width: 14px;
  height: 14px;
  border-radius: 50%;
}
