/* src/styles/base/_variables.css */
:root {
  --bg-color: #f7f9fc;
  --ticket-bg-color: #ffffff;
  --ticket-column-bg-color: #f7f9fc;
  --primary-color: #007bff;
  --border-color: #ddd;
  --text-color: #333;
  --font-family: "Poppins", sans-serif;
}
